name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Dependencies
        run: uv sync --locked --all-extras --dev
      - name: Lint
        run: uv run --no-sync scripts/lint.sh

  # https://github.com/marketplace/actions/alls-green#why
  lint-alls-green:  # This job does nothing and is only used for the branch protection
    if: always()
    needs:
      - lint
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
